_libgcc_mutex==0.1
_openmp_mutex==5.1
absl-py==2.3.0
aiofiles==23.2.1
altair==5.5.0
anyio==4.9.0
aom==3.9.1
asttokens==3.0.0
astunparse==1.6.3
attr==2.5.1
audioread==3.0.1
aws-c-auth==0.7.20
aws-c-cal==0.6.12
aws-c-common==0.9.17
aws-c-compression==0.2.18
aws-c-event-stream==0.4.2
aws-c-http==0.8.1
aws-c-io==0.14.8
aws-c-mqtt==0.10.4
aws-c-s3==0.5.9
aws-c-sdkutils==0.1.16
aws-checksums==0.1.18
aws-crt-cpp==0.26.8
aws-sdk-cpp==1.11.267
bokeh==3.7.3
boost-cpp==1.85.0
brotli-python==1.1.0
bzip2==1.0.8
c-ares==1.34.5
ca-certificates==2025.8.3
cachetools==6.1.0
cairo==1.18.0
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
click==8.2.1
cloudpickle==3.1.1
comm==0.2.2
contourpy==1.3.2
cuda-bindings==12.9.0
cuda-cccl_linux-64==12.9.27
cuda-crt-dev_linux-64==12.9.86
cuda-crt-tools==12.9.86
cuda-cudart==12.9.79
cuda-cudart-dev==12.9.79
cuda-cudart-dev_linux-64==12.9.79
cuda-cudart-static==12.9.79
cuda-cudart-static_linux-64==12.9.79
cuda-cudart_linux-64==12.9.79
cuda-nvcc-dev_linux-64==12.9.86
cuda-nvcc-impl==12.9.86
cuda-nvcc-tools==12.9.86
cuda-nvrtc==12.9.86
cuda-nvvm==12.9.86
cuda-nvvm-dev_linux-64==12.9.86
cuda-nvvm-impl==12.9.86
cuda-nvvm-tools==12.9.86
cuda-profiler-api==12.9.79
cuda-python==12.9.0
cuda-version==12.9
cudf==24.02.02
cuml==24.02.00
cupy==13.5.1
cupy-core==13.5.1
cycler==0.12.1
cytoolz==1.0.1
dask==2024.1.1
dask-core==2024.1.1
dask-cuda==24.02.00
dask-cudf==24.02.02
datasets==3.6.0
dav1d==1.2.1
debugpy==1.8.14
decorator==5.2.1
dill==0.3.8
distributed==2024.1.1
distributed-ucxx==0.36.00
dlpack==0.5
exceptiongroup==1.3.0
executing==2.2.0
expat==2.7.0
fastapi==0.115.14
fastrlock==0.8.3
ffmpy==0.6.0
flatbuffers==25.2.10
fmt==10.2.1
font-ttf-dejavu-sans-mono==2.37
font-ttf-inconsolata==3.000
font-ttf-source-code-pro==2.038
font-ttf-ubuntu==0.83
fontconfig==2.15.0
fonts-conda-ecosystem==1
fonts-conda-forge==1
fonttools==4.58.4
freetype==2.13.3
fribidi==1.0.10
fsspec==2025.3.0
gast==0.6.0
gflags==2.2.2
glog==0.7.1
gmock==1.17.0
google-pasta==0.2.0
gradio==4.29.0
gradio-client==0.16.1
gradio-leaderboard==0.0.13
graphite2==1.3.14
groovy==0.1.2
grpcio==1.73.1
gtest==1.17.0
h11==0.16.0
h2==4.2.0
h5py==3.14.0
harfbuzz==9.0.0
hf-xet==1.1.5
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.33.2
hyperframe==6.1.0
hyperpyyaml==1.2.2
icu==75.1
idna==3.10
importlib-metadata==8.7.0
importlib-resources==6.5.2
importlib_metadata==8.7.0
inquirerpy==0.3.4
ipykernel==6.29.5
ipython==8.37.0
ipywidgets==8.1.7
jedi==0.19.2
jinja2==3.1.6
joblib==1.5.1
jpeg==9e
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyterlab-widgets==3.0.15
keras==3.10.0
kiwisolver==1.4.8
krb5==1.21.3
lcms2==2.15
ld_impl_linux-64==2.40
lerc==4.0.0
libabseil==20240116.2
libarrow==14.0.2
libarrow-acero==14.0.2
libarrow-dataset==14.0.2
libarrow-flight==14.0.2
libarrow-flight-sql==14.0.2
libarrow-gandiva==14.0.2
libarrow-substrait==14.0.2
libavif==1.3.0
libavif16==1.3.0
libblas==3.9.0
libboost==1.85.0
libboost-devel==1.85.0
libboost-headers==1.85.0
libbrotlicommon==1.1.0
libbrotlidec==1.1.0
libbrotlienc==1.1.0
libcap==2.71
libcblas==3.9.0
libclang==18.1.1
libcrc32c==1.1.2
libcublas==12.9.1.4
libcublas-dev==12.9.1.4
libcudf==24.02.02
libcufft==11.4.1.4
libcufile==1.14.1.1
libcufile-dev==1.14.1.1
libcuml==24.02.00
libcumlprims==24.02.00
libcurand==10.3.10.19
libcurand-dev==10.3.10.19
libcurl==8.14.1
libcusolver==11.7.5.82
libcusolver-dev==11.7.5.82
libcusparse==12.5.10.65
libcusparse-dev==12.5.10.65
libdeflate==1.17
libedit==3.1.20230828
libev==4.33
libevent==2.1.12
libexpat==2.7.0
libffi==3.4.4
libfreetype==2.13.3
libfreetype6==2.13.3
libgcc==15.1.0
libgcc-ng==15.1.0
libgcrypt-lib==1.11.1
libgfortran==15.1.0
libgfortran5==15.1.0
libglib==2.84.0
libgomp==15.1.0
libgoogle-cloud==2.23.0
libgoogle-cloud-storage==2.23.0
libgpg-error==1.55
libgrpc==1.62.2
libhwloc==2.12.1
libiconv==1.18
libkvikio==24.02.01
liblapack==3.9.0
libllvm15==15.0.7
liblzma==5.8.1
liblzma-devel==5.8.1
libnghttp2==1.64.0
libnl==3.11.0
libnsl==2.0.1
libnvjitlink==12.9.86
libopenblas==0.3.30
libparquet==14.0.2
libpng==1.6.50
libprotobuf==4.25.3
libraft==24.02.00
libraft-headers==24.02.00
libraft-headers-only==24.02.00
libre2-11==2023.09.01
librmm==24.02.00
librosa==0.10.1
libsodium==1.0.20
libsqlite==3.50.2
libssh2==1.11.1
libstdcxx==15.1.0
libstdcxx-ng==15.1.0
libsystemd0==256.9
libthrift==0.19.0
libtiff==4.5.0
libucxx==0.36.00
libudev1==257.4
libutf8proc==2.8.0
libuuid==2.38.1
libwebp-base==1.6.0
libxcb==1.17.0
libxcrypt==4.4.36
libxml2==2.13.8
libzlib==1.3.1
lir==0.1.29
llvmlite==0.44.0
locket==1.0.0
lz4==4.3.3
lz4-c==1.9.4
markdown==3.8.2
markdown-it-py==3.0.0
markupsafe==2.1.5
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
ml-dtypes==0.5.1
msgpack-python==1.1.1
multiprocess==0.70.16
namex==0.1.0
narwhals==1.45.0
nccl==2.27.6.1
ncurses==6.5
nest-asyncio==1.6.0
networkx==2.8.8
numba==0.61.2
numba-cuda==0.11.0
numpy==1.26.4
nvcomp==3.0.6
nvidia-cublas-cu12==12.6.4.1
nvidia-cuda-cupti-cu12==12.6.80
nvidia-cuda-nvrtc-cu12==12.6.77
nvidia-cuda-runtime-cu12==12.6.77
nvidia-cudnn-cu12==9.5.1.17
nvidia-cufft-cu12==11.3.0.4
nvidia-cufile-cu12==1.11.1.6
nvidia-curand-cu12==10.3.7.77
nvidia-cusolver-cu12==11.7.1.2
nvidia-cusparse-cu12==12.5.4.2
nvidia-cusparselt-cu12==0.6.3
nvidia-nccl-cu12==2.26.2
nvidia-nvjitlink-cu12==12.6.85
nvidia-nvtx-cu12==12.6.77
nvtx==0.2.12
openjpeg==2.5.0
openssl==3.5.2
opt-einsum==3.4.0
optree==0.16.0
orc==2.0.0
orjson==3.10.18
packaging==25.0
pandas==2.3.0
parso==0.8.4
partd==1.4.2
pcre2==10.44
pexpect==4.9.0
pfzy==0.3.4
pickleshare==0.7.5
pillow==10.2.0
pip==25.1.1
pixman==0.46.2
platformdirs==4.3.8
pooch==1.8.2
prompt-toolkit==3.0.51
protobuf==4.25.3
psutil==5.9.8
pthread-stubs==0.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==20.0.0
pyarrow-hotfix==0.7
pycparser==2.22
pydantic==2.10.6
pydantic-core==2.27.2
pydub==0.25.1
pyexiftool==0.5.6
pygments==2.19.2
pylibraft==24.02.00
pynvjitlink==0.7.0
pynvml==11.4.1
pyparsing==3.2.3
pysocks==1.7.1
python==3.10.18
python-dateutil==2.9.0.post0
python-multipart==0.0.20
python-tzdata==2025.2
python_abi==3.10
pytz==2025.2
pywavelets==1.8.0
pyyaml==6.0.2
pyzmq==27.0.0
raft-dask==24.02.00
rapids-dask-dependency==24.02.00
rapids-logger==0.1.1
rav1e==0.7.1
rdma-core==55.0
re2==2023.09.01
readline==8.2
referencing==0.36.2
requests==2.32.4
rich==14.0.0
rmm==24.02.00
rpds-py==0.26.0
ruamel-yaml==0.18.14
ruamel-yaml-clib==0.2.12
ruff==0.12.1
s2n==1.4.13
safehttpx==0.1.6
scikit-image==0.22.0
scikit-learn==1.7.0
scipy==1.15.2
seaborn==0.13.2
semantic-version==2.10.0
sentencepiece==0.2.0
setuptools==78.1.1
shellingham==1.5.4
six==1.17.0
snappy==1.2.1
sniffio==1.3.1
sortedcontainers==2.4.0
soundfile==0.13.1
soxr==0.5.0.post1
spdlog==1.12.0
speechbrain==1.0.3
sqlite==3.50.2
stack_data==0.6.3
starlette==0.46.2
svt-av1==3.0.2
sympy==1.14.0
tbb==2022.2.0
tblib==3.1.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
tensorflow-io-gcs-filesystem==0.37.1
termcolor==3.1.0
tf-keras==2.19.0
threadpoolctl==3.6.0
tk==8.6.13
tomlkit==0.12.0
toolz==1.0.0
torch==2.7.1
torchaudio==2.7.1
torchvision==0.22.1
tornado==6.5.1
traitlets==5.14.3
treelite==4.0.0
triton==3.3.1
typer==0.16.0
typing_extensions==4.14.1
tzdata==2025b
ucx==1.15.0
ucx-proc==1.0.0
ucx-py==0.36.00
ucxx==0.36.00
urllib3==2.5.0
utf8proc==2.6.1
uvicorn==0.35.0
wcwidth==0.2.13
webrtcvad==2.0.10
websockets==11.0.3
wheel==0.45.1
widgetsnbextension==4.0.14
wrapt==1.17.2
xgboost==3.0.2
xorg-kbproto==1.0.7
xorg-libice==1.1.2
xorg-libsm==1.2.6
xorg-libx11==1.8.12
xorg-libxau==1.0.12
xorg-libxdmcp==1.1.5
xorg-libxext==1.3.4
xorg-libxrender==0.9.12
xorg-renderproto==0.11.1
xorg-xextproto==7.3.0
xorg-xorgproto==2024.1
xorg-xproto==7.0.31
xxhash==3.5.0
xyzservices==2025.4.0
xz==5.8.1
xz-gpl-tools==5.8.1
xz-tools==5.8.1
yaml==0.2.5
zeromq==4.3.5
zict==3.0.0
zipp==3.23.0
zlib==1.3.1
zstandard==0.23.0
zstd==1.5.7
